.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.col-12{
    grid-column: span 12;
}
.col-6{
    grid-column: span 6;
}
.col-4{
    grid-column: span 4;
}
.col-3{
    grid-column: span 3;
}
.col-2{
    grid-column: span 2;
}
.col-1{
    grid-column: span 1;
}