.list-title >h2{
 color: white;
    margin-left: 36px;
     font-weight: 300;
}
.list-title>i{
    font-size: 40px;
}
.list-title{
    display: flex;
    align-items: center;
    margin-left: 36px;

}
.button-group{
    display: flex;
    flex-flow: row wrap;
    margin: 0px 24px ;
    padding: 0px 12px;
}
.config-button{
    margin-right: 12px;
}
.container{
    max-width: 1640px;
}